# Created by .ignore support plugin (hsz.mobi)


.idea/*.xml
src/lesson1/task1/.idea/.name
src/lesson1/task1/.idea/copyright
src/lesson1/task1/.idea/libraries
src/lesson1/task1/.idea/shelf
target
out
build/*
.gradle/*
report/*

*.iml
*.ipr
*.iws
*.zip